NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://ticket_user:ticket_password@localhost:5435/ticket_management"
JWT_SECRET="change-me-in-development"
JWT_EXPIRES_IN="1h"
TEST_DATABASE_URL="postgresql://ticket_user:ticket_password@localhost:5435/ticket_management_test"